.step {
    color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: indigo;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .step.completed {
    background-color: indigo;
  }